@import url(all.min.css);
@import url(fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    list-style: none;
    text-decoration: none;
    outline: none;
}
body{
    max-height: 100vh;
}
img{
    object-fit: cover;
}
button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 10px;
    border: 1px solid #FFFFFF80;
    background: #fff;
    border-radius: 10px;    
}
::-webkit-scrollbar-thumb{
    background: #94B8FF;
    border-radius: 10px;
}

.wrapper{
    background: #E5E5E5;
    height: 100vh;
    display: flex;
    position: relative;
}
main{
    width: 100%;
    height: 100vh;
    overflow-y: auto;}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.menu_btn{
    display: none;
}
/************************************************ Aside styling ******************************************/
.aside{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 70px 0;
}
.aside_list, .aside_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside_link{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #C5C7D3;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
    color: #C5C7D3;
    transition: all .3s;
}
.aside_link i{
    line-height: 70px;
}
.aside_link:hover, .aside_link.active, .aside_link:focus{
    background: #94B8FF;
    color: #fff;
    border-color: #94B8FF;
}
.aside_footer .aside_link{
    margin: 0;
}
.aside_link .tooltiptext{
    opacity: 0;
    width: max-content;
    background: #fff;
    color: #000;
    text-align: center;
    padding: 7px 16px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 110%;
    z-index: 99;
    font-size: 14px;
    line-height: 21px;
    transition: all .3s;
    pointer-events: none;
}
.aside_link:hover .tooltiptext {
    opacity: 1;
    transform: translate(0%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}
/************************************************ Nav styling ******************************************/

nav .container{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    color: #333333;
}
.nav_details{
    display: flex;
    align-items: center;
    padding: 25px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.nav_content{
    padding-right: 40px;
    display: flex;
    align-items: center;
}
.nav_weather{
    padding-right: 0;
}
.nav_details i{
    color: #94B8FF;
    font-size: 30px;
    padding-right: 10px;
}
.nav_details_text, .weather_card_date{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #333;
}
.weather_card_date{
    color: #fff;
}
/********************************************** Main page styling ******************************************/
.main_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
}
.main_card{
    grid-column: span 3;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all .3s;
}
.main_card:nth-child(1), .main_card:nth-child(4){
    background: #94B8FF;
}
.main_card:nth-child(2), .main_card:nth-child(5){
    background: #FFB803;
}
.main_card_weather{
    grid-column: span 4;
    grid-row: span 2;
    height: auto !important;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    display: block;
    border-radius: 15px;
    padding: 50px;
    position: relative;
    overflow: hidden;
}
.main_card_weather::before{
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    width: 112px;
    height: 235px;
    background: url(../img/weather_vector2.png) no-repeat center / cover;
}
.main_card_weather::after{
    content: "";
    position: absolute;
    top: 0;
    left: 150px;
    width: 425px;
    height: 366px;
    background: url(../img/weather_vector1.png) no-repeat center / cover;
}
.main_card img{
    height: 130px;
    margin-bottom: 25px;
}
.main_card_text, .weather_card_title{
    font-size: 36px;
    line-height: 54px;
    font-weight: 500;
}
.main_card_value{
    font-size: 42px;
    font-weight: 600;
}
.main_card:hover:not(.main_card_weather){
    transform: scale(0.9);
}
.main_card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 60px;
}
.main_card_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}
.main_card_content::-webkit-scrollbar{
    height: 6px;
    border: 1px solid #FFFFFF80;
    background: transparent;
    border-radius: 10px;
}
.main_card_content::-webkit-scrollbar-thumb{
    background: #fff;
}
.weather_card_days img{
    width: 43px;
    height: 43px;
    margin: 24px 0;
}
.weather_card_days{
    padding: 12px 15px;
    margin-bottom: 30px;
}
.weather_card_days.active{
    background: rgba(255, 255, 255, 0.2);
    /* backdrop-filter: blur(2px); */
    border-radius: 20px;
    border: 1px solid;
}
.weather_card_weeks{
    height: 300px;
    overflow-y: auto;
}
.weather_card_weeks::-webkit-scrollbar{
    width: 6px;
    border: 1px solid #FFFFFF80;
    background: transparent;
    border-radius: 10px;
}
.weather_card_weeks::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 10px;
}
.weather_card_week{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding-right: 80px;
}
.weather_week_day, .weather_week_indi{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}
.weather_week_indi{
    font-weight: 500;
}
.weather_card_week img{
    width: 43px;
    height: 43px;
    margin: 0;
}
.card_footer_title{
    margin: 10px 0;
}
/********************************************* Order page styling *****************************************/
.order_form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 70px;
    background: #fff;
    border-radius: 20px;
    padding: 50px 40px;
}
.order_car, .order_services, .order_info{
    grid-column: span 2;
}
.order_title{
    font-size: 36px;
    line-height: 24px;
    font-weight: 600;
    padding-bottom: 40px;
    text-align: center;
}
.order_input, .select{
    width: 100%;
    max-width: 450px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #94B8FF;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 500;
    background: #fff;
    transition: all .3s;
    margin-bottom: 30px;
    color: #222;
}
.order_textarea{
    height: 100px !important;
    min-height: 70px;
    max-height: 150px;
    resize: vertical;
}
.order_input::placeholder{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #C5C7D3;
    letter-spacing: -0.011em;
}
.order_input:focus{
    max-width: 450px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    outline: none;
}

.select{
    position: relative;
    text-transform: capitalize;
    text-align: left;
    cursor: pointer;
    color: #333;
    line-height: 10px;
}
.select::before{
    content: "";
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 12px;
    height: 12px;
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
}
.select:hover{
    background: #94B8FF;
}
.select.active{
    background: #94B8FF;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.fieldset{
    width: 100%;
    border: none;
    position: relative;
}
.options{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    max-width: 450px;
    height: fit-content;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: none;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.options.active{
    display: block;
}
.options .item{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    cursor: pointer;
    transition: all .3s;
}
.options .item.active{
    background: #94B8FF;
}
.fieldset_switch{
    border: 2px solid #94B8FF;
    max-width: 450px;
    border-radius: 10px;
    padding: 20px 0px 30px 30px;
    display: flex;
    flex-direction: column;
}
.order_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-bottom: 20px;
}
.order_switch label{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    padding-left: 20px;
    width: max-content;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #333;
}
.order_switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C5C7D3;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 30px;
}
.switch_slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50%
}
.order_switch input:checked + .switch_slider {
    background-color: #94B8FF;
}
.order_switch input:focus + .switch_slider {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
} 
.order_switch input:checked + .switch_slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}
.order_info{
    min-width: 360px;
}
.car_img{
    width: 100%;
}
.order_details{
    padding: 20px 30px;
    border: 2px solid #94B8FF;
    border-radius: 10px;
    color: #333;
}
.car_brand{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0;
}
.car_model, .car_numb_desk, .wash_type_blog, .service_type_text, .descr_blog, .wash_cost{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    padding-left: 10px;
    color: #333;
    box-sizing: border-box;
}
.car_number_blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.car_numb_desk{
    border: 2px solid #333;
    padding: 5px 0;
    border-radius: 5px;
    padding-left: 0;
    font-weight: 600;
    margin-top: 15px;
    margin-right: 5px;
}
.territory_code{
    padding: 0 5px;
    border-right: 2px solid #333;
}
.car_number{
    padding: 0 15px;
}
.car_phone_number{
    border: 2px solid #94B8FF;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 5px 10px;
    margin-top: 15px;
}
.wash_type_blog{
    display: flex;
    align-items: center;
    padding: 15px 0 5px;
}
.wash_type, .descr{
    font-weight: 300;
    padding-left: 10px;
    font-size: 22px;
}
.service_type_blog{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}
.service_type_text{
    padding-left: 0;
}
.service_type{
    margin: 5px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 21px;
    border-radius: 50px;
    cursor: pointer;
}
.service_type:nth-child(4n+2){
    background: #BED4FF;
}
.service_type:nth-child(4n+1){
    background: #F4C7FF;
}
.service_type:nth-child(4n+3){
    background: #FFE0CF;
}
.service_type:nth-child(4n+4){
    background: #FEC9DC;
}
.descr_blog{
    padding: 0 0 40px;
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.wash_cost{
    padding-left: 0;
    text-align: center;
    padding-bottom: 10px;
}
.btn{
    max-width: 320px;
    width: 100%;
    height: 60px;
    background: #94B8FF;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.order_btn_blog{
    display: flex;
    justify-content: center;
}

/************************************************ Navbat.html ******************************************/

.table-qator{
    overflow-x: auto;
}
.table-qator::-webkit-scrollbar{
    height: 10px;
    border: 1px solid #FFFFFF80;
}
.table-qator tr{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.card-body tr{
    background: transparent;
}
tr:last-child{
    margin-bottom: 0;
}
.table{ 
    max-width: 1600px;
    min-width: 900px;
    border-collapse:separate; 
    border-spacing: 0 30px;
    box-sizing: border-box;
    white-space: nowrap;
}
tbody{
    min-width: 1200px;

}
.table td{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFB803;
    position: relative;
    padding: 0 10px;
}
.table td::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50px;
    width: 2px;
    background: #C5C7D3;
}
.table td:last-child::before{
    display: none;
}
.table td:nth-child(2){
    max-width: 186px;
    height: auto;
}
.table td:nth-child(3){
    color: #898989;
}
.table td:nth-child(4){
    max-width: 110px;
    height: auto;
}
.table td:nth-child(5), .table td:nth-child(6){
    color: #898989;
}
.table td:nth-child(7){
    color: #333333;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
}
.table td:nth-child(1){
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
}

/************************************************ Yuvilmoqda ******************************************/

.card-menu{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}
.card-menu-card{
    max-width: 300px;
    background: #FFB803;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.yolak{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.yolak_img{
    max-width: 244px;
    height: auto;
    margin: 25px 0 20px;
}
.yolak-user{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding: 0 8px;
    padding-bottom: 24px;
}
.yolak-sms{
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .3s;
}
.yolak-sms:hover{
    background-color: #fff;
    color: #000;
}
.button_class{
    display: flex;
    flex-direction: column;
}
.yolak-tayyor{
    margin-top: 10px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    transition: all .3s;
}
.yolak-sms a{
    padding: 4px 17px 5px 18px;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.yolak-tayyor a{
    padding: 4px 41px 5px 40px;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.yolak-sms a:hover{
    color: #333333;
}
.yolak-tayyor:hover{
    background: transparent;
    color: #fff;
}
.fa-user{
    padding-right: 13px;
}
.fa-thumbs-up{
    padding-right: 7px;
}
#comment_icon{
    padding-right: 7px;
}
.carding{
    background: #94B8FF;
    justify-content: space-between;
}
.carding img{
    opacity: 0;
}

/************************************************ Sozlamalar ******************************************/

.card-body{
    background: #94B8FF;
    border-radius: 30px;
    padding: 35px 20px 30px 70px;
}
.xizmatlarsettnigis{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px;
    margin-top: 45px;
}
.table-responsive{
    overflow-x: auto;
}
.table-responsive::-webkit-scrollbar{
    height: 10px;
}
.tabl{
    min-width: 650px;
    overflow-x: auto;
}
.card-headerr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-primaryy{
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    color: #FFFFFF;
}
.text-primar{
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 6px 20px;
    margin-right: 40px;
}
.text-primar a{
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #94B8FF;
}
#plus_icon{
    padding-right: 11px;
}

thead tr th{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 12px;
    text-align: center;
    border-bottom: 1px solid #FFFFFF
}
#userTable tbody tr td{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    padding: 12px 0 10px;
}
#userTable tbody tr td a{
    color: #FFFFFF;
}
.settings_table{
    overflow-y: auto;
}
.table-responsive tbody{
    max-height: 300px;
    overflow-y: auto;
}
.tabl tr td:nth-child(2), .tabl tr th:nth-child(2){
    text-align: left !important;
}
.tabl tr td:last-child, .tabl tr th:last-child{
    text-align: right !important;
    padding-right: 24px !important;
}

.fa-badge-dollar, .fa-pen{
    padding-right: 20px;
}
.table-responsive::-webkit-scrollbar{
    width: 6px;
    border: 1px solid #FFFFFF80;
    background: transparent;
    border-radius: 10px;   
}
.table-responsive::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 10px;
}
/* yuvish yo`lagi sozlamalari */

.yuvish-yolagi, .xizmatlar{
    background: #FFB803;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding-bottom: 70px;
}
.yuvish-title, .xizmat-title{
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 8px;
    padding-top: 38px;
}
.yuvish-primn{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.yuvidh-card, .xizmat-card{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    padding: 14px 20px 10px;
    border-bottom: 1px solid #FFFFFF;
}
.wash_card_content{
    display: flex;
    align-items: center;
}
.yuvish-link, .xizmat-link{
    font-size: 32px;
    color: #fff;
}
.yuvish_yol, .xizmat_yol{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    padding-left: 25px;
}
.yuvish-cards, .xizmat-cards{
    height: 300px;
    overflow-y: auto;
}
.yuvish-cards::-webkit-scrollbar, .xizmat-cards::-webkit-scrollbar{
    width: 6px;
    border: 1px solid #FFFFFF80;
    background: transparent;
    border-radius: 10px;
}
.yuvish-cards::-webkit-scrollbar-thumb, .xizmat-cards::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 10px;
}

/* xizmatlar sozlamalari */

.xizmatlar{
    background: #94B8FF;
}

/*********************************************** Xisob-kitob ******************************************/

.calculation_boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.calculation_box{
    display: flex;
    align-items: center;
    padding: 24px;
    background: #94B8FF;
    color: #fff;
    border-radius: 12px;
    margin-bottom: 30px;
}
.calculation_box:nth-child(2n+2){
    background: #FFB803;
}
.calculation_box img{
    width: 70px;
    height: 70px;
    margin-right: 15px;
}
.calculation_box_title, .calculation_box_text{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.bold_600{
    font-weight: 600;
}
.calculation_btn{
    width: 140px;
    height: 60px;
    border-radius: 12px;
    background: #FFB803;
    vertical-align: center;
    margin: 0 auto;
}
.calculation_table .tabl tr td:last-child, .calculation_table .tabl tr th:last-child{
    text-align: center !important;
    padding-right: 0 !important;
}

/************************************************ Footer ******************************************/

.footer{
    background: #fff;
    margin-top: 40px;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.footer_text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2;
    color: #1E2833;
    opacity: 0.5;
}
.social_media a{
    margin-left: 40px;
    color: #1E2833;
}

/************************************************ Statistics ******************************************/

.statistics .container{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 7.409090995788574px 0px #00000033;
    padding: 0;
    padding-top: 20px;
}
.statistics_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0 30px;
}
.statistics_control{
    display: flex;
}
.statBtn{
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border: 1.5px solid #94B8FF;
    color: #333;
    border-radius: 8px;
}
.filter_btn{
    margin-right: 30px;
}
.statBtn i{
    font-size: 24px;
    margin-right: 12px;
    color: #94B8FF;
}
.save_btn{
    background-color: #94B8FF;
    color: #fff;
}
.save_btn i{
    color: #fff;
}
.stat_search{
    width: 580px;
    padding: 15px 0;
    border: 1.5px solid #94B8FF;
    border-radius: 9px;
    position: relative;
}
.search_input{
    position: absolute;
    left: 70px;
    width: 85%;
    color: #333;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-right: 10px;
}
.search_icon{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
    font-size: 26px;
    color: #94B8FF;
}
/* stat table */

.stat_table{
    width: 100%;
    margin-top: 24px;
    border-spacing: 0;
}
.stat_table thead{
    background: #94B8FF;
    color: #fff;
}
.stat_table thead tr th{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.stat_table tbody tr td{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    color: #333;
    border-bottom: 1px solid #94B8FF4D;
}
.stat_table td, .stat_table th{
    padding-right: 15px;
}
.stat_table thead th:first-child, .stat_table tbody td:first-child{
    padding-left: 40px;
}
.stat_table thead th:last-child, .stat_table tbody td:last-child{
    padding-right: 40px;
}
.stat_table td:last-child, .stat_table th:last-child{
    text-align: right !important;
}
.three_dots{
    color: #94B8FF;
    font-size: 28px;
    cursor: pointer;
}
th .three_dots{
    color: #fff;
}
.table_more{
    position: relative;
}
.table_more:hover .table_more_item{
    transform: scale(1);
}
.table_more_item{
    position: absolute;
    bottom: 90%;
    right: 0;
    transform: scale(0);
    width: 150px;
    padding: 8px 10px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
    transition: all .3s;
    transform-origin: bottom right;
    
}
.delete_button{
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #D30000;
    font-weight: 500;
    line-height: 21px;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 10px;
    transition: all .3s;
}
.delete_button:hover{
    background-color: rgba(148, 184, 255, 0.3);
}
.stat_table_payed{
    position: relative;
    background: #94B8FF;
    padding: 4px 8px 4px 24px;
    border-radius: 20px;
    width: max-content;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.stat_table_payed::before{
    content: '';
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 50%;
}

.stat_pagenetion{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
    background-color: #94B8FF;
    color: #fff;
}
.pagenetion_pages{
    display: flex;
    align-items: center;
}
.stat_pagenetion_text{
    padding-left: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #fff;
}
.pagenetion_pages{
    padding: 0 25px 0 50px;
}
.pagenetion_page{
    padding-left: 0;
    padding: 0 15px;    
}
.page_control{
    color: #fff;
}
.filter_blog{
    width: 300px;
    height: 500px;
    position: absolute;
    /* top: -100%;  */
    left: 50%;
    /* transform: translate(-50%, -50%); */
    background: #fff;
    transition: .3s;
    /* opacity: 0; */
    top: 0;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 2000px 50px 1500px;
}
.filter_blog.active{
    top: 50%;
    opacity: 1;
}